/*reset*/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
 font-family: 'Arial';
}
table { border-collapse: collapse; border-spacing: 0; font-family: 'Arial';}
td, th, caption { font-weight: normal; text-align: left;font-family: 'Arial'; }
img, fieldset { border: 0; font-family: 'Arial';}
ol { padding-left: 1.4em; list-style: decimal;font-family: 'Arial'; }
ul { padding-left: 1.4em; list-style:square;font-family: 'Arial'; }
q:before, q:after { content:''; }

body{font-family: Arial, sans-serif; 
line-height: 1.4;
font-size: 14px;
background: #333333;
margin: 0;
padding: 0;
color: #112211;}
/*cuerpo*/
.cuerpo{margin: 0 auto; display: table; background-color: #FFFFCC; width: 980px;}

header{padding-top: 20px; height:114px; width: 100%; margin: 0 auto ; display: block;  text-align: center; background-color: #77c728;}
header h1 {
font-family: Arial, sans-serif; 
margin: 0;
padding: 25px 0 0 70px;
font-weight: bold;
color: #fff;
font-size: 37px;
letter-spacing: -2px;
line-height: 27px;
}
header h1 a { text-decoration: none; color: #fff; }
header h1 a:hover { text-decoration: none; color: #fff; border-bottom: 1px dotted #fff; }
header h2 { font-size: 23px; padding: 5px 0 0 70px; margin: 0; color: #efefef; font-weight: 100; }
footer{width: 100%; margin: 0 auto;display: block; background-color: #ff8820; text-align: center; height: 50px; line-height: 50px; color:#FFFFFF;}
.separadorh{background-color: #ff8820; height: 2px; width: 100%;}
.separadorf{background-color: #77c728; height: 2px; width: 100%;}
/*pagina index*/
.contenido{background:none repeat scroll 0 0 #FFFFCC;padding: 20px 50px 20px 60px; margin-bottom: 150px;}
.contenido a{text-decoration: none;color: #2E8711; }
.contenido a:visited{color: #2E8711;}
.contenido a:hover{text-decoration: underline;}


.left{width:400px;display: inline-block; position: relative;margin-top: 100px;}
.left img{margin-left: 105px;}
.left p{margin-left: 140px; color: #2E8711; font-size: 18px;}


.right{width:400px;display: inline;}
.right img{position:absolute; margin-left: 137px; width: 238px; margin-top: 105px;} 
.right p{margin-left: 618px; margin-top: -20px; font-size: 18px; color: #2E8711;}

/*pagina ingreso*/
.contenido h2{color: #121F0C;
    font-size: 22px;
    font-weight: 100;
    line-height: 30px;
    margin: 0;}

.contenido h3{ color: #232323;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 0 0 10px;}
.contenido h2{margin-bottom: 60px;}
.contenido form{width: 740px; margin: 0 auto}
.contenido form h3 {margin-bottom: 40px;}
.contenido form label, .contenido form select, .contenido form label, .contenido form input{margin-bottom: 10px;} 
.contenido label div {width: 180px; display: inline-block;}
.contenido form input[type="button"]{width: 150px; margin-top: 20px;margin-right: 40px;}
.contenido form input[type="text"]{width: 300px;}
.contenido form select {width:307px;}
.contenido label{font-weight: bold;}

/*pagina de búsqueda*/
.contenido .busqueda h3 {margin-top: 60px;}
.home{position: absolute; margin-left: 780px; margin-top: -45px;}
#homef {width: 36px; margin-top:10px; }
.home a img{width: 40px;}

.resultados{position: relative; width: 740px; margin: 0 auto; margin-top: 40px;}
.resultados h3{margin-bottom: 80px;}
.pregunta{margin-bottom: 20px; position: relative;}
.pregunta .separador{background-color: orange; min-width: 100%; height: 4px; display: block; margin-bottom: 40px; margin-top: 40px;}
.pregunta div{font-weight: bold;}
.pregunta span{font-weight: bold; font-size: 18px;}
.pregunta h4{font-weight: bold; font-size: 18px;}
.pregunta span[mobi="si"]{color: #2E8711;}
.pregunta span[mobi="no"]{color: red;}

.resultados div{display: inline; width: 180px;}

.contenido .resultados .descarga{display: block; margin-left: 380px;margin-top: -190px;}
.descarga div{margin-left: 40px; color: #2E8711;}
.descarga img {width: 154px;}

/*navegacion*/
.nav-down{position: absolute; margin-top: 90px;}
.nav-down .left-arrow{position: absolute; top:0px; left: 50px; text-decoration: none; font-size: 14px; color: #666666;}
.nav-down .left-arrow img{position: absolute; top:-12px; left: -40px;}
.nav-down .right-arrow{position: absolute; top:0px; left: 540px;text-decoration: none; font-size: 14px; color: #666666;}
.nav-down .right-arrow img{position: absolute; top:-12px; left: 70px;}
.nav-down .info{position: relative; left: 250px; font-size: 14px; color: #666666; width: 160px;}

/*.nav-down .left-arrow:hover{position: absolute; top:0px; left: 50px; text-decoration: none; font-size: 14px; color: #666666;}*/
.nav-down .left-arrow img{position: absolute; top:-12px; left: -40px;}
.nav-down .right-arrow{position: absolute; top:0px; left: 540px;text-decoration: none; font-size: 14px; color: #666666;}
.nav-down .right-arrow img{position: absolute; top:-12px; left: 70px;}